body {
  
  margin-top: 200px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.cap{
  font-family: 'Coiny', cursive;
}

.navbar-default{
  background-color: lightskyblue;
  margin-bottom: 200px;
}

.landing{
  text-align: center; 
}

.jumbotron{
  background-color: lightskyblue;
  width: 50%;
  border-radius: 70px;
}
.btn{
  margin: 5px;
}

.footer{
  text-align: center;
  background-color: lightskyblue;
  padding: 20px;
}

