body {

  margin-top: 200px;
  margin-bottom: 200px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.landing{
  text-align: center;
}

.profile{
  text-align: center;

}

.profilecard{
  background-color: skyblue;
 
}


.dashboard{
  text-align: center;

}

.dashboardcard {
  background: skyblue;
  
}

.heading{
 font-size: 20px;
}

.cap{
  font-family: 'Coiny', cursive;
}

.navbar-default{
  background-color: skyblue;
  margin-bottom: 200px;
  padding: 15px;
}

.landing{
  text-align: center; 
}

.jumbotron{
  background-color: skyblue;
  width: 50%;
  border-radius: 70px;
}
.btn{
  margin: 5px;
}

.handle-button{
  border-radius: 70%;
  padding: 15px;
  background-color: skyblue;
  text-decoration: none;

}

.handle-button-profile{
  border-radius: 70%;
  padding: 15px;
  background-color: skyblue;
  margin-left: 10px;
  text-decoration: none;

}

.profiles-body{
  margin-left: 40px;
}

.footer{
  text-align: center;
  background-color: skyblue;

  padding: 20px;
  position: fixed;
  bottom: 0;
}

