body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.cap{
  font-family: 'Coiny', cursive;
}



.navbar-default{
  background-color: lightskyblue;
}
.navlinks{
  display: flex;
  justify-content: right;
  
}

.landing{
  margin-top: 200px;
  text-align: center; 
}

.jumbotron{
  background-color: lightskyblue;
}
.btn{
  margin: 5px;
}

.footer{
  text-align: center;
  background-color: lightskyblue;
}

